#
# .env file to set up your Docker Registry
#

#
# Registry Version
#
# It is recommended that you always set your version to your containers
# Please be carefull on changeing versions
#
#REGISTRY_VERSION=2.7.1

#
# Network name
# 
# Your container app must use a network conencted to your webproxy 
# https://github.com/evertramos/docker-compose-letsencrypt-nginx-proxy-companion
#
NETWORK=webproxy

#
# Database Container configuration
# We recommend MySQL or MariaDB - please update docker-compose file if needed.
#
CONTAINER_REGISTRY_NAME=registry

# Path to store your registry files
REGISTRY_FILES_PATH=./../data

# Path to store your auth registry files
REGISTRY_AUTH_PATH=./auth
REGISTRY_AUTH_HTPASSWD_PATH=/auth/htpasswd

# Login Information
AUTH_HTPASSWD_USER=your_email@domain.com
AUTH_HTPASSWD_PASS=very,secret,password123

# Max Log File Size
LOGGING_OPTIONS_MAX_SIZE=200k

# Your domain
DOMAINS=registry.domain.com

# Your email for Let's Encrypt register
LETSENCRYPT_EMAIL=your_email@domain.com

#
# Registry Backup
#
# [ATTENTION]
#
# In order to use this backup available at:
#
# https://github.com/evertramos/docker-registry-backup
#
# You must uncomment these lines below and fix number as needed

# Limit free disk space to clean up old backup files
# In KB - 400000 >> 400Mb
#DISK_SPACE_LIMIT_CLEAN=1000000

# PID File
#PID_FILE=.docker-wordpress-backup.pid

#
# Backup location
#
# This option should be used when backing up using the script in the repo:
# https://github.com/evertramos/docker-wordpress-backup
#BACKUP_PATH_NAME=/backup

#
# Crontab Rules
#
# Please only enable that if you know what you are doing, please refer to these samples:
#
# https://crontab.guru/examples.html
#
# And test if your setting is working
#
# Here is a basic rule for backup everyday at 04 am from monday to friday as of:
#
# https://crontab.guru/#00_04_*_*_1-5
#
#BACKUP_CRONTAB_RULE="00 04 * * 1-5"

